<section class="ui segment">
  <button class="ui blue button">
    <a href="deedlockerPi/Read">
      Read Mode
    </a>
  </button>

    <button class="ui blue button">
    <a href="deedlockerPi/Write">
      Write Mode
    </a>
  </button>


</section>