<nav class="ui menu">
  <header class="ui header item"> <a href="/"> DeedLockerPi </a></header>
  <div class="right menu">
    <a id="controls" class="item" href="/signup"> Controls  </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>