{{> welcome-menu }}


  <div class="ui segment">
    <div class="ui active dimmer">
      <div class="ui text loader">
        Please scan an RFID to assign the box ID to it
      </div>
    </div>
    <p><br></p>
    <p><br></p>
    <p><br></p>
  </div>
