{{> welcome-menu }}


  <div class="ui segment">
    <div class="ui active dimmer">
      <div class="ui text loader">
        Please scan an RFID to assign the box ID to it
      </div>
    </div>
    <p><br></p>
    <p><br></p>
    <p><br></p>
  </div>

<script>
let requestSent = 0

for(let i = 0; i <= 5; i++) {
  if(requestSent === 0) {
    delay(i)
  } 
}

function delay(i) {
  setTimeout(() => {
    if (i == 4) {
      window.location.href = "http://192.168.1.12:4000/deedlockerPi/Write"
    }
    let rfid = Promise.resolve(checkIfRfidUpdated("{{boxId}}"))
    rfid.then((value) => {
      if (value != ""){
         window.location.href = "http://192.168.1.12:4000/deedlockerPi/Write";
      }
  }) 
  }, 5000 * i);
}
</script>
